.cabeca__nav{

    display: flex;
    justify-content: right;
    margin-right: 2em;
    margin-top: 2em;
    text-align: center;

}

.cabeca__nav__voltar{

    display: flex;
    text-decoration: none;
    color:var(--cor-da-letra) ;
    background-color: #21BEBA;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    gap: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    
    
}