

:root{

    --cor-de-fundo:#DDDFEB;
    --cor-da-letra:#ffffff;
    --cor-letra-2:#F4EDE8;
    --cor-de-fundo-2:#348789;
}

body{

    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor-de-fundo);
   

}



@media (min-width:1280px){

    .corpo{

        display: flex;
        gap: 5em;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        
    }

 
    .especificacoes__div{

        margin-bottom: -1em;
    }

    .corpo__foto__imagem{

        font-size: 1.2em;
    }
}
